.inner {
  position: relative;
  height: 100vh;
}
.inner::after {
  content: "";
  position: absolute;
  background: url(./../../assets/images/contact//back.png),
    linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  filter: blur(2px);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
  width: 406px;
  height: 536px;
  background: #fffefe;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
}
.title {
  font-family: "Bold";
  font-size: 25px;
  margin-bottom: 15px;
}
.text {
  font-family: "Regular";
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 35px;
}
.labelContainer {
  margin-bottom: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bdbdbd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  top: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.checkbox:focus + .slider {
  box-shadow: 0 0 2px #664ef9;
}
.checkbox:checked + .slider {
  background-color: #664ef9;
}
.checkbox:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.passwordInfo {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 38px;
}
.keepUser {
  font-family: "Regular";
  color: #686868;
  margin-left: 8px;
}
.newPassword {
  margin-left: 36px;
  font-family: "Medium";
  color: #664ef9;
}
.containerCreateUser {
  margin-top: 50px;
}
.psCreate {
  font-family: "Regular";
  font-size: 14px;
  color: #686868;
  margin-right: 4px;
}
.createUser {
  font-family: "Medium";
  font-size: 14px;
  color: #664ef9;
}
