.inner {
  position: relative;
  display: flex;
  gap: 30px;
  padding: 175px 465px 185px 430px;
  color: white;
}
.inner::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(./../../assets/images/contact//back.png),
    linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.title {
  font-family: "Bold";
  font-size: 60px;
  line-height: 73px;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.text {
  font-family: "Medium";
  font-size: 20px;
  line-height: 24px;
  width: 427px;
  margin: 20px 0px 50px;
}
.link {
  position: relative;
  font-family: "Bold";
  font-size: 16px;
  padding: 12px 24px 12px 46px;
  color: #1e2123;
  background: #ffd54f;
  border-radius: 33px;
}
.link:hover {
  background: #fec100;
  transition: 0.15s;
}
.link::before {
  content: "";
  position: absolute;
  background-image: url("./../../assets/images/error/home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  left: 22px;
  top: 16px;
}
.pointsLeft {
  position: absolute;
  top: 100px;
  left: 320px;
}
.pointsRight {
  position: absolute;
  bottom: 100px;
  right: 390px;
}
