.inner {
  position: relative;
  height: 100vh;
}
.inner::after {
  content: "";
  position: absolute;
  background: url(./../../assets/images/contact//back.png),
    linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  filter: blur(2px);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
  width: 844px;
  background: #fffefe;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  display: flex;
  gap: 25px;
}
