.container {
  position: relative;
  cursor: default;
  font-size: 14px;
  font-family: "Semi Bold";
  width: 133px;
  height: 37px;
  border-radius: 20px;
  border: 0px solid transparent;
  padding: 7px 40px 7px 15px;
  color: #eb5757;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  background: rgba(235, 87, 87, 0.1);
}
.container:hover .img {
  fill: rgba(235, 87, 87, 0.4);
}
.img {
  position: absolute;
  width: 15px;
  right: 15px;
}
