.inner {
  padding: 42px 320px 100px 320px;
  position: relative;
}
.inner::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../../assets/images/news/back.png);
  background-size: cover;
  height: 90%;
  max-height: 1000px;
  width: 1026px;
  right: 0;
  top: 30px;
}
.containerTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.search {
  width: 563px;
  padding: 10px 15px 10px 20px;
  border-radius: 30px;
  outline: none;
  border: 0px solid transparent;
  font-family: "Medium";
  font-size: 14px;
}
.button {
  border: 0px solid transparent;
  background: #664ef9;
  width: 53px;
  height: 37px;
  border-radius: 19px;
  position: relative;
}
.searchIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form {
  display: flex;
  position: relative;
  top: 9px;
}
.title {
  font-family: "Bold";
  font-size: 30px;
}
