.dropbtn {
  cursor: default;
  color: #686868;
  font-size: 14px;
  font-family: "Medium";
  width: 150px;
  height: 37px;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 0px 70px 0px 12px;
  background: #f8f8f8;
  position: relative;
}
.dropbtn::placeholder {
  max-width: 20px;
}
.dropbtn:focus {
  border: 2px solid rgba(102, 78, 249, 0.8);
  background-color: #ffffff;
}
.dropbtn:hover {
  background: rgba(102, 78, 249, 0.1);
}
.dropbtn::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/main/arrowBelow.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 8px;
  right: 12px;
  top: 13px;
}
.show {
  display: block !important;
}
.downContent {
  display: none;
  position: absolute;
  background: #ffffff;
  min-width: 150px;
  z-index: 1;
  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  border-radius: 10px;
  top: 48px;
  font-size: 14px;
  color: #1e2123;
  font-family: "Medium";
  cursor: default;
}
.downElement {
  padding: 10px 10px 10px 15px;
}
.downElement:last-child {
  border-radius: 0px 0px 10px 10px;
}
.downElement:first-child {
  border-radius: 10px 10px 0px 0px;
}
.downElement:hover {
  background: #f8f8f8;
}
