.inner {
  padding: 10px 40px 10px 16px;
  background: #664ef9;
  border-radius: 22px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Bold";
  position: relative;
}
.inner:hover {
  background: #5c35f9;
  transition: 0.15s;
}
.arrow {
  position: absolute;
  content: "";
  top: 13px;
  right: 22px;
}
