.inner {
  display: flex;
  gap: 14px;
  margin-top: 80px;
}
.paginationElement {
  color: #686868;
  font-size: 18px;
  font-family: "Regular";
  position: relative;
  cursor: default;
}
.paginationElement:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #e4e2e2;
  left: 0px;
  bottom: -2px;
  transition: 0.15s;
}
.paginationElementContinue {
  color: #686868;
}
.active {
  color: #000000;
  font-family: "Bold";
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #ffd54f;
  left: 0px;
  bottom: -2px;
}
