.inner {
  padding: 60px 537px 0px;
  position: relative;
}
.title {
  color: #1e2123;
  font-size: 30px;
  font-family: "Bold";
  margin-bottom: 30px;
}
.data {
  padding: 10px 16px;
  background-color: rgba(102, 78, 249, 0.1);
  border-radius: 18px;
  color: #664ef9;
  font-size: 14px;
  font-family: "Medium";
  position: relative;
}
.data::after {
  content: "";
  position: absolute;
  background-image: url(../../assets/images/news/svg/points.svg);
  width: 68px;
  height: 62px;
  left: -116px;
  bottom: -220px;
}
.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.socialInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.share {
  margin-right: -5px;
  color: #1e2123;
  font-size: 14px;
  font-family: "Regular";
}
.img {
  border-radius: 10px;
  filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
  width: 844px;
  height: 563px;
  margin-bottom: 40px;
}
.text {
  color: #1e2123;
  font-size: 16px;
  font-family: "Regular";
  line-height: 24px;
  margin-bottom: 127px;
}
.inner::after {
  content: "";
  position: absolute;
  background: url(../../assets/images/news/backTitleOneNews.png),
    linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
  opacity: 0.1;
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  z-index: -1;
}
.cards {
  padding: 0px 320px 100px;
  position: relative;
}
.cards::after {
  position: absolute;
  content: "";
  background: url(../../assets/images/news/backTitleOneNews.png),
    linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
  opacity: 0.1;
  left: 0;
  top: -60px;
  width: 100%;
  height: 737px;
  z-index: -1;
}
.cardsTitle {
  color: #1e2123;
  font-size: 25px;
  font-family: "Bold";
  margin-bottom: 45px;
}
