.inner {
  padding: 20px 320px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-family: "Semi Bold";
}
.logo {
  margin-right: 5px;
}
.add {
  position: relative;
  margin-left: 20px;
  font-family: "Bold";
  color: white;
  padding: 10px 18px;
  padding-left: 38px;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  border-radius: 19px;
}
.add:hover {
  background: linear-gradient(90deg, #867cfc 0%, #6929f3 94.5%);
  transition: 0.15s;
}
.add::before {
  position: absolute;
  content: "";
  background-image: url(../../../assets/images/header/add.svg);
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  top: 12px;
  left: 16px;
}
.item {
  color: black;
}
.itemMap {
  position: relative;
  padding-right: 15px;
}
.itemActive {
  position: relative;
}
.itemActive::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffd54f;
  left: 0px;
  bottom: -30px;
}

.itemMap::after {
  position: absolute;
  content: "";
  background-image: url(../../../assets/images/header/map.svg);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  right: -15px;
}
.downContent {
  display: none;
  position: absolute;
  background: #ffffff;
  min-width: 150px;
  z-index: 1;
  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  border-radius: 10px;
  top: 48px;
  font-size: 14px;
  color: #1e2123;
  font-family: "Medium";
  cursor: default;
}
.downElement {
  padding: 10px 10px 10px 15px;
  display: block;
  color: #1e2123;
}
.downElement:first-child {
  border-radius: 10px 10px 0px 0px;
}
.downElement:last-child {
  border-radius: 0px 0px 10px 10px;
}
.downElement:hover {
  background: #f8f8f8;
}
.showLinksDrop {
  display: block !important;
}
.itemDrop {
  cursor: default;
}
